<mat-toolbar color="accent">
  <a
  class="logo"
  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
  target="_blank"
  rel="noreferrer"
>
<span>ITeam</span>
</a>
  <span class="example-spacer"></span>
  <button  class="first-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
  mat-button
   routerLink="/">
   <span>Add user</span>
 </button >
 <button  class="first-link" routerLinkActive="active"
 mat-button
 routerLink="/users">
  <span>Users</span>
</button >
</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
